@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {
    --full-vh: 100vh;
    --full-vw: 100vw;
    --full-pe: 100%;
    --primary-color: #ff9a00;
    --secondary-color: #1997fe;
    --border-color: #cfcfcf;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif; */
}

#login-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    max-width: 28rem;
    padding: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
}

#login-container .input-field {
    margin-top: 0;
    margin-bottom: 2rem;
}

#login-container .logo-lugu {
    width: 200px;
    height: 200px;
}

/* //////////////////////////////////////////////////////////////////// */

/* Navbar, Sidenav & Content -> Header & Main */

header,
main,
footer {
    padding-left: 300px;
}

main {
    padding-top: 1rem;
}

@media only screen and (max-width: 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}

nav,
.navbar-fixed {
    height: 110px;
    color: #000;
}

nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    background-color: transparent;
}

nav .nav-wrapper .sidenav-trigger {
    color: var(--primary-color);
}

nav .nav-wrapper .col>.breadcrumb,
nav .nav-wrapper .col>.breadcrumb::after,
nav .nav-wrapper .col>.breadcrumb::before {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

nav .sidenav-trigger {
    top: 20px;
    margin: 0 36px 0 12px;
}

a.sidenav-trigger.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    top: 28px;
    float: none;
    margin-left: 1.5rem;
    color: var(--secondary-color);
    font-size: 36px;
    z-index: 2;
}

/* Revisar */
img.header-img {
    width: 17%;
    height: 100%;
    display: flex;
    margin: 10px auto 0 auto;
}

nav .header-breadcrumb {
    padding: 14px 0 0 0;
}

ul.sidenav.sidenav-fixed {
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.sidenav .user-view {
    padding: 20px 40px 0 40px;
    margin-bottom: 0;
}

.sidenav .user-view .background {
    top: 20px;
}

.sidenav .user-info {
    margin: 150px 0 0 0;
}

.sidenav .user-info a > span.name,
.sidenav .user-info a > span.email {
    font-size: 1.1rem;
    font-weight: bold;
}

.sidenav li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14.5px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 1rem 0 0;
    width: 29px;
    font-size: 1.6rem;
    color: #000;
}

.collapsible-header i.arrow-icon {
    margin-right: 0;
}

/* //////////////////////////////////////////////////////////////////// */

/* Reset password */

#reset-password-email {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //////////////////////////////////////////////////////////////////// */

/* Programas */

#create-programa {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lugu Static CSS */

.btn {
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: none;
    line-height: 50px;
    color: var(--primary-color);
}

.btn:hover {
    background-color: var(--primary-color);
    box-shadow: none;
    color: #fff;
    transition: all 0.6s;
}

.btn:focus {
    background-color: #f79400;
    color: #fff;
}

.btn:active {
    background-color: #f09000;
    color: #fff;
}

.input-field label {
    color: var(--primary-color);
}

.input-field label.code-input-readonly {
    color: var(--secondary-color);
}

input:not([type]):read-only {
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}

.input-field.col label.code-input-readonly {
    width: 100%;
    transform: translateX(7%) translateY(100%);
}

.input-field label.code-input {
    color: var(--border-color);
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--primary-color);
    -webkit-box-shadow: 0 1px 0 0 var(--primary-color);
    box-shadow: 0 1px 0 0 var(--primary-color);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: var(--primary-color);
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid var(--primary-color);
}

/* Atomic CSS */

.primary-text-color {
    color: var(--primary-color);
}

.primary-bg-color {
    background-color: var(--primary-color);
}

.secondary-text-color {
    color: var(--secondary-color);
}

.text-uppercase {
    text-transform: uppercase;
}

.divider {
    margin: 8px 0;
}

.sidenav .divider {
    margin: 0;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-0 {
    margin-top: 0;
}

.mr-0 {
    margin-right: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

/* Media queries */

@media (min-width: 320px) and (max-width: 360px) {
    #login-container {
        padding: 15px;
        margin: 15px;
    }
}

@media only screen and (max-width: 600px) {
    a.sidenav-trigger.top-nav {
        left: 0;
    }
}

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center;
    }
}